@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义全局样式 */
body {
  @apply bg-gray-50 text-gray-800;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}